.button {
  height: 40px;
  width: 75%;
  background: coral;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 1rem;
  padding: 5px;
  text-transform: uppercase;
}