.signup {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: coral;
}

.signup--block {
  width: 90%;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
  padding: 25px 0;
}

.signup--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.back-btn {
  width: 100%;
  box-sizing: border-box;
  padding: 1.5rem;
}

.back-btn--btn {
  width: 50px;
  height: 50px;
  background: rgba(0,0,0,0.1);
  border-radius: 50%;
}

.back-btn--btn:hover {
  background: rgba(0,0,0,0.15);
}

.back-btn--arrow {
  color: white;
  font-size: 40px;
}

.title {
  font-size: 25px;
  font-weight: 700;
  margin: 1rem 0;
}

.sub-text {
  font-size: 12px;
  opacity: 0.3;
  margin-top: 1rem;
}

.left {
  display: none;
}

@media (min-width: 500px) {
  .back-btn {
    display: none;
  }

  .container {
    display: flex;
    justify-content: space-between;
  }

  .left {
    display: flex;
    flex-direction: column;
  }
}