.landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.divider {
  height: 3px;
  width: 5%;
  background: lightskyblue;
  margin: 10px 0;
}

.img-placeholder {
  height: 75px;
  width: 75px;
  background: coral;
  border-radius: 50%;
}

.margin {
  margin: 1rem 0;
}

.sub-text {
  color: gray;
  font-size: 10px;
}

@media (min-width: 500px) {
  .signup {
    width: 500px;
  }
}